<!-- _books.ejs -->

<div class="row">
    <div class="col-sm-3"></div>

    <table class="table table-striped scroll-table" id="booksTable">
        <tr>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <td>Reading list</td>
                <td></td>
            </a>
            <td id="data-icon">
            </td>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    ...
                </div>
        </tr>
    </table>
</div>