<!-- _books.ejs -->

<div class="row">
    <div class="col-sm-3"></div>

    <table class="table table-striped scroll-table" id="booksTable">
        <a class="btn" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <tr>
           
                <td>Reading list</td>
                <td></td>
           
            <td id="data-icon">
            </td>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    ...
                </div>
        </tr>
        </a>
    </table>
</div>