<!-- _dining.ejs -->
<!-- _books.ejs -->
<div class="row">
    <div class="col-xs-12">
        <h2> Restaurants </h2>
    </div>
</div>
<div class="row">
<div class="col-xs-12">
<div class="panel-group" id="restaurantsAccordion" role="tablist" aria-multiselectable="true">
</div>
</div>
</div>