<!-- _dining.ejs -->
<!-- _books.ejs -->

<div class="row">
    <div class="col-sm-3"></div>

    <table class="table table-striped" id="restaurantsTable">
        <tr>
            <td>Reading list</td>
            <td></td>
            <td id="data-icon">
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="container-fluid todo-container">

    </div>
</div>