<!-- _dining.ejs -->
<!-- _books.ejs -->
<h2 class="jumbotron books"> Restaurants </h2>
<div class="row">
</div>
<div class="row">
<div class="col-xs-12">
<div class="panel-group" id="restaurantsAccordion" role="tablist" aria-multiselectable="true">
</div>
</div>
</div>