<!-- _movies.ejs -->
<h2 class="jumbotron books"> Movies </h2>
<div class="row">
</div>
<div class="row">
<div class="col-xs-12">
<div class="panel-group" id="moviesAccordion" role="tablist" aria-multiselectable="true">
</div>
</div>
</div>