<!-- _movies.ejs -->

<div class="row">
    <div class="col-sm-3"></div>

    <table class="table table-striped" id="movies">
      <tr><td>Instant Pot</td><td></td><td id="data-icon"><i class="fas fa-pencil-alt"></i><a ><i class="far fa-trash-alt"></i></a></td></tr>
      <tr><td>Razor Mech Keyboard</td><td></td><td id="data-icon"><i class="fas fa-pencil-alt"></i><a ><i class="far fa-trash-alt"></i></a></td></tr>
      <tr><td>Audio Technica Headphones</td><td></td><td id="data-icon"><i class="fas fa-pencil-alt"></i><a ><i class="far fa-trash-alt"></i></a></td></tr>
    </table>
</div>

<div class="row">
    <div class="container-fluid todo-container">

    </div>
</div>