<nav class="navbar navbar-default">
    
    <div class="navbar-header" id="fix-nav">
        <div class="container-fluid">
        <div class="row nav-row">
            <div class="col-xs-4">
              <img src="https://vanillicon.com/788e533873e80d2002fa14e1412b4188.png" alt="..." class="nav-av">
            </div>
            <div class="col-xs-4">
                <h1>myButt</h1>
            </div>
            <div class="col-xs-4">
                <img src="https://vanillicon.com/788e533873e80d2002fa14e1412b4188.png" alt="..." class="nav-av">
            </div>
                
        </div>
        <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="todo-textarea" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id "post-todo">Go!</button>
                        </span>
                    </div>
                </div>
        </div>
        </div>
    </div>
</nav>