<!-- _overview.ejs -->
<div class="container-fluid">
    <h2 class="jumbotron"> Overview </h2>
    <div class="row padding-ten">
        <div class="col-xs-12">
            <button type="button" class="btn btn-lg btn-danger col-xs-12 col-sm-12 col-lg-12" id="books-btn">
                <p>Books</p>
                <span class="badge badge-right" id="books-badge"></span>
            </button>
        </div>
    </div>

    <div class="row padding-ten">
        <div class="col-xs-12">
            <button type="button" class="btn btn-lg btn-primary col-xs-12 col-sm-12 col-lg-12" id="dining-btn">
                <p>Dining</p>
                <span class="badge badge-right" id="dining-badge"></span>
            </button>
        </div>
    </div>

    <div class="row padding-ten">
        <div class="col-xs-12">
            <button type="button" class="btn btn-lg btn-info col-xs-12 col-sm-12 col-lg-12" id="movies-btn">
                <p class="overview-btn">Movies</p>
                <span class="badge badge-right" id="movies-badge"></span>
            </button>
        </div>
    </div>

    <div class="row padding-ten">
        <div class="col-xs-12">
            <button type="button" class="btn btn-lg btn-warning col-xs-12 col-sm-12 col-lg-12" id="products-btn">
                <p class="overview-btn">Products</p>
                <span class="badge badge-right" id="products-badge"></span>
            </button>
        </div>
    </div>
</div>