<!-- _books.ejs -->
<h2 class="jumbotron books"> Products </h2>
<div class="row products">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-group" id="productsAccordion" role="tablist" aria-multiselectable="true">
        </div>
    </div>
</div>