.dropdown {
  z-index: 1001;
}

.swiper-container {
  position: static;
  height: 100%;
  padding-top: 97px;
}

h4 {
  display: inline-block;
}

.item-icons {
  text-align: right;
  padding-left: 10px;
  float: right;
}

#trash {
  margin-left: 10px;
}

.swiper-slide {
  overflow-y: scroll;
  margin-top: 2em;
  background-color: #E6F4F1;
}

.slide-2 {
  background-color: white;
}

.container-fluid {
  padding: 0;
  height: 100%;
  margin-top: -50;
}

.nav-av {
  max-height: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.navbar {
  z-index: 1000;
  margin-bottom: 0;
  position: fixed;
  height: 60px;
  background-color: #008cff;
}

.navbar-default {
  width: 100%;
  height: 9.5em;
  background-color: #2F4858;
  box-shadow: 0px 6px 22px rgba(0, 0, 0, .3);
}

.nav-row {
  height: 90px;
}

.col-xs-4 {
  text-align: center;
  height: 90px;
}

h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 1.5em;
  color: #fff;
}

h2 {
  font-size: 3em;
  font-family: 'Lily Script One',cursive;
  color: #4b5573;
  text-align: center;
}

p {
  float: left;
  margin-bottom: 0;
}

.badge-right {
  padding-top: 5px;
  margin-top: 2px;
  float: right;
  font-size: 2rem;
}

.padding-ten {
  padding-top: 15px;
}

.jumbotron {
  margin: 0 auto;
  border-radius: 0;
  text-shadow: 2px 5px #cccccc;
}

.slide-4, .slide-5, .slide-6 {
  background-color: #fff;
}

.main-gutter {
  width: 100%;
}

@media (min-width: 500px) {
  .main-gutter {
    width: 400px;
  }
}

.panel {
  margin-top: 15px;
}

.overview-btn {
  margin: auto;
}

#data-icon {
  text-align: right;
}

#data-icon a {
  padding-left: 10px;
}

#fix-nav {
  margin-right: 0;
  margin-left: 0;
}

html {
  height: 100%;
}

body {
  background-color: #EEE;
  height: 100%;
}

body h1 {
  color: #ffffff;
  line-height: 0px;
  padding-top: 4px;
}


.row {
  width: 100%;
  margin-left: 0;
}

.btn-danger {
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 5em;
  font-size: 2.5rem;
}

.btn-primary {
  background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 5em;
  font-size: 2.5rem;
}

.btn-info {
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 5em;
  font-size: 2.5rem;
}

.btn-warning {
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  height: 5em;
  font-size: 2.5rem;
}

.padding-ten {
  padding-top: 1em;
}


