.swiper-container {
    position: static;
    height: 100%;
    padding-top: 50px;
}

.container-fluid {
  padding: 0;
  height: 100%;
  margin-top: -50;
}

.navbar {
  margin-bottom: 0;
  position: fixed;

}
h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 1em;
}

#data-icon {
  text-align: right;
  a {
    padding-left: 10px;
  }
}
 #fix-nav {
    margin-right: 0;
    margin-left: 0;
}
html { height: 100%;}
body {
  background-color: #EEE;
  height: 100%;
  h1 {
    color: #244751;
  }
  .slide-1 {
    background-color: rgb(255, 255, 255);
  }
  .slide-2 {
    background-color: rgb(255, 255, 255);
  }
  .slide-3 {
    background-color: rgb(255, 255, 255);
  }
  
}

.row{
  width: 100%;
  margin-left: 0;
}
